<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Load APK</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="uploadForm">
          <label for="file">Experience APK</label>
          <input name="file" type="file">
          <fieldset>
            <legend>Device type:</legend>
            <div>
              <label for="android">Android</label>
              <input name="device" id="android" type="radio" value="android" checked>
            </div>
            <div>
              <label for="quest">Quest</label>
              <input name="device" type="radio" id="quest" value="quest">
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="uploadAPKForm()">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>