<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Load APK</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="uploadForm" action="/upload" enctype="multipart/form-data" method="post">
          <fieldset>
            <legend>Experience APK:</legend>
            <input name="file" type="file" id="upload">
          </fieldset>
          <fieldset>
            <legend>Command type</legend>
            <div>
              <label for="command">Android</label>
              <input name="command" id="command" type="radio" value="android" checked>
            </div>
            <div>
              <label for="command">Unreal Engine</label>
              <input name="command" id="command" type="radio" value="com.epicgames.ue4.GameActivity">
            </div>
            <div>
              <label for="android">Unity 3D</label>
              <input name="command" id="command" type="radio" value="com.unity3d.player.UnityPlayerActivity">
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick="uploadAPKForm()">Submit</button>
      </div>
    </div>
  </div>
</div>