{% extends "base.html" %}

{% block content %}
{% include "icons/set_icon_modal.html" %}
<table class="table">
  <thead>
  <tr>
    <th scope="col"><input class="form-check-input" type="checkbox"></th>
    <th scope="col">Headset</th>
    <th scope="col">Connection</th>
    <th scope="col">Battery</th>
    <th scope="col">Experiences</th>
    <th scope="col">Currently Playing</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row"><input class="form-check-input" type="checkbox"></th>
    <td>
                <span id="setIcon" class="badge btn text-secondary" onclick="set_icon(this)">
            {% include "icons/paintbrush.html" %}
          </span>
    </td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>@mdo</td>
    <td>@mdo</td>
  </tr>

  </tbody>
</table>

{% endblock %}

{% block javascript %}
<script>
    var defaults = {
    {
        defaults | safe
    }
    }
    ;
</script>
<script defer src="/static/main.js"></script>
{% endblock %}