.btn-custom {
    text-align: center !important;
    line-height: 0 !important;
    min-width: 10rem;
    min-height: 10rem;
    font-size: 5rem;
    box-sizing: content-box;
}

.btn-orange {
    background-color: orange;
}

.btn-yellow {
    background-color: yellow;
}

.btn-blue {
    background-color: aquamarine;
}

.btn-fuchsia {
    background-color: fuchsia;
}


input[type=range] {
  height: 58px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 1px;
}
input[type=range]::-webkit-slider-thumb {

  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 1px;

}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
}
input[type=range]::-ms-fill-lower {
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
