<div class="list-group list-group-flush" data-device="{{ device }}">
  {% for experience in experiences %}
  <li class="list-group-item" data-experience="{{ experience.package }}">
    <div class="btn-group" role="group" aria-label="commands">
      <button type="button" class="btn text-bg-success" onclick="start_experience(this)">
        {% include 'icons/play-fill.html' %}</button>
      <button type="button" class="btn text-bg-danger" onclick="stop_experience(this)">{% include 'icons/stop-fill.html' %}</button>
    </div>
    {{ experience.name }}
  </li>
  {% endfor %}
</div>