<div class="modal fade" id="experiencesModal" tabindex="-1" aria-labelledby="experiencesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="experiencesModalLabel">Installed experiences</h5>
        <button type="button" id="experiences-modal-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="experiences_modal_content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>


    function start_experience(el) {
        experience_command(el, 'start')
    }

    function stop_experience(el) {
        experience_command(el, 'stop')
    }

    function copy_experience_info(el) {
        experience_command(el, 'copy-details')
    }

    function experience_command(el, cmd) {
        var experience = $(el).closest('li').data('experience');
        var device = $(el).closest('.list-group').data('device');

        send({
            body: { 'experience': experience},
            start: function () {
            },
            url: '/command/' + cmd +'/' + device,
            success: function (data) {
                showStatus("Experience has " + cmd + "ed!");

            },
            problem: function (error) {
                showStatus("Error " + cmd + "ing experience: " + error);
            },
            finally: function () {

            }
        })
    }

</script>