<div class="modal fade" id="setExperienceModal" tabindex="-1" aria-labelledby="setExperienceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="setExperienceModalLabel">Start Experience</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="set_experience_modal_content">
        <h1>loading data...</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" onclick="startExperience()">Start</button>
      </div>
    </div>
  </div>
</div>

<script>
    $('#setExperienceModal').on('show.bs.modal', function(){

    fetch('experiences', {
        method: 'GET',
    })
        .then(function (response) {
            if (!response.ok) {
                throw Error(response.statusText);
            }
            return response.text()
        })
        .then(function (html) {
            console.log(html)
            $('#set_experience_modal_content').html(html);
        })
        .catch(function (error) {
            console.log(error);
        })

    })

</script>