{% extends "base.html" %}

{% block content %}
  <style>
    .btn-custom {
      text-align: center !important;
      line-height: 0 !important;
      min-width: 10rem;
      min-height: 10rem;
      font-size: 5rem;
      box-sizing: content-box;
    }
  </style>



  <div class="container align-self-center">

    {% include "load/upload_modal.html" %}

    <div id="status" style="font-size: 1.5rem" class="row justify-content-center mb-2 mt-5 alert"></div>
    <div class="row justify-content-center mb-2 mt-5 btn-block" id="startButtonDiv">
      <a id="startButton" class="btn btn-success btn-custom d-flex align-items-center justify-content-center" onclick="startExperience()">START</a>

    </div>
    <div class="row justify-content-center mb-2" id="uploadButtonDiv">
      <a id="loadButton" class="btn btn-info btn-custom d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#uploadModal">UPLOAD EXPERIENCE</a>
    </div>
    <div class="row justify-content-center mb-2" id="loadButtonDiv">
      <a id="loadButton" class="btn btn-info btn-custom d-flex align-items-center justify-content-center" onclick="loadExperience()">LOAD ON DEVICES</a>
    </div>
    <div class="row justify-content-center mb-2" id="stopButtonDiv">
      <a id="stopButton" class="btn btn-secondary btn-custom d-flex align-items-center justify-content-center" onclick="stopExperience()">STOP</a>
    </div>
    <div class="row justify-content-center mb-2" id="connectButtonDiv">
      <a id="connectButton" class="btn btn-warning btn-custom d-flex align-items-center justify-content-center" onclick="connectDevice()">CONNECT DEVICE</a>
    </div>
    <div class="row justify-content-center mb-2" id="stopServerButtonDiv">
      <a id="stopServerButton" class="btn btn-danger btn-custom d-flex align-items-center justify-content-center" onclick="stopServer()">STOP SERVER</a>
    </div>
    <div class="row justify-content-center mb-2" id="screenshotButtonDiv">
      <a id="screenshotButton" class=" btn btn-secondary btn-custom d-flex align-items-center justify-content-center" onclick="getScreenshots()">SCREENSHOT</a>
    </div>
    <div class="row justify-content-center mb-2" id="htmxGrabDiv">
      <a style="font-size: 1.5rem" class="btn btn-secondary btn-custom d-flex align-items-center justify-content-center" hx-get="/linkup" hx-swap="outerHTML" hx-trigger="click">LINKUP (polling screenshots of all devices via htmx)</a>
    </div>
  </div>


{% endblock %}

{% block javascript %}
<script defer src="/static/main.js"></script>
<script>
  function uploadAPKForm() {
      const formElement = document.getElementById('uploadForm')
      var formData = new FormData(formElement)

      fetch('/upload', {
          method: 'POST',
          body: formData
      }).then(function (response) {
          if (!response.ok) {
            throw Error(response.statusText);
          }

          $('#uploadModal').modal('hide')

          return response.json();
      }).then(function (data) {
        status_global.classList.add("alert-success");
        status_global.innerHTML = "Experience has been uploaded. You may now load it on devices";
      }).catch(function (error) {
        status_global.classList.add("alert-danger");
        status_global.innerHTML = "Error uploading experience to server: " + error;
      });
  }
</script>
{% endblock %}