{% extends "base.html" %}

{% block content %}
<style>
  .btn-custom {
    text-align: center !important;
    line-height: 0 !important;
    min-width: 10rem;
    min-height: 10rem;
    font-size: 5rem;
    box-sizing: content-box;
  }

  .btn-orange {
    background-color: orange;
  }

  .btn-yellow {
    background-color: yellow;
  }

  .btn-blue {
    background-color: aquamarine;
  }
</style>

<div id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{% include "icons/headset-vr.html" %} Multi Device Experience Tool</a>
    <div class="d-flex">
      <a id="connectButton" class="btn btn-primary d-flex align-items-center justify-content-center ms-2" onclick="connectDevice()">Connect Device</a>
      <a id="disconnectButton" class="btn btn-warning d-flex align-items-center justify-content-center ms-2" onclick="disconnectDevice()">Disconnect All</a>
      <a id="stopServerButton" class="btn btn-danger d-flex align-items-center justify-content-center ms-2" onclick="stopServer()">Stop Server</a>
    </div>
  </div>

</div>
{% include "load/upload_modal.html" %}
{% include "load/load_modal.html" %}
{% include "experiences/set_experience_modal.html" %}
{% include "experiences/add_experience_modal.html" %}
<div class="container align-self-center">
  <div id="experience" style="font-size: 1.5rem" class="row justify-content-center mb-2 mt-5 alert">
    {% if app_name %}
    The following experience is currently selected: {{ app_name[:-4] }}
    {% else %}
    No experience currently selected! Use the "Load on devices" button to do so!
    {% endif %}
  </div>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="statusToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">

        <div id="status" class="toast-body">
        </div>
        <button id="toastClose" type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-2 mt-5 btn-block" id="startButtonDiv">
    <a id="startButton" class="btn btn-success btn-custom d-flex align-items-center justify-content-center" onclick="startExperience()">START</a>

  </div>
  <div class="row justify-content-center mb-2" id="uploadButtonDiv">
    <a style="font-size: 4rem" id="loadButton" class="btn btn-orange btn-custom d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#uploadModal">UPLOAD EXPERIENCE</a>
  </div>
  <div class="row justify-content-center mb-2" id="setExperienceButtonDiv">
    <a style="font-size: 4rem" id="setRemoteButton" class="btn btn-blue btn-custom d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#setExperienceModal">SET EXPERIENCE</a>
  </div>
  <div class="row justify-content-center mb-2" id="addExperienceButtonDiv">
    <a style="font-size: 4rem" id="addRemoteButton" class="btn btn-yellow btn-custom d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#addExperienceModal">ADD NEW EXPERIENCE</a>
  </div>
  <div class="row justify-content-center mb-2" id="loadButtonDiv">
    <a id="loadButton" class="btn btn-info btn-custom d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#loadModal">LOAD ON DEVICES</a>
  </div>
  <div class="row justify-content-center mb-2" id="stopButtonDiv">
    <a id="stopButton" class="btn btn-secondary btn-custom d-flex align-items-center justify-content-center" onclick="stopExperience()">STOP</a>
  </div>
  <div class="row justify-content-center mb-2" id="screenshotButtonDiv">
    <a id="screenshotButton" class=" btn btn-secondary btn-custom d-flex align-items-center justify-content-center" onclick="getScreenshots()">SCREENSHOT</a>
  </div>
  <div class="row justify-content-center mb-2" id="htmxGrabDiv">
    <a style="font-size: 1.5rem" class="btn btn-secondary btn-custom d-flex align-items-center justify-content-center" hx-get="/linkup" hx-swap="outerHTML" hx-trigger="click">LINKUP (polling screenshots of all devices via htmx)</a>
  </div>
</div>



{% endblock %}

{% block javascript %}
<script>const connected_devices = {{ devices_connected| safe }};</script>
<script defer src="/static/main.js"></script>
{% endblock %}