<template id="device-card">
  <div id="main-card" class="col justify-content-center">

    <div class="card mb-2" style="max-width: 18rem">
      <div>
        <input class="form-check-input position-absolute ms-1" type="checkbox" id="cardSelect">
        <button class="position-absolute top-0 end-0 btn ms-1 text-danger" id="stop_some_experience"
                onclick="stop_some_experience(this)">{% include 'icons/stop.html' %}</button>
        <img src="https://picsum.photos/200" class="card-img-top">
      </div>
      <div class="card-body">
        <div class="mb-2">
          <span id="setIcon" class="badge btn text-secondary" onclick="set_icon(this)">
            {% include "icons/paintbrush.html" %}
          </span>
          <h5 id="device-name" class="card-text d-inline-block">Device ID unknown </h5>
        </div>
        <span id="batteryBadge" class="badge text-bg-primary">{% include "icons/battery-full.html" %} <span
            id="batteryPercent">Battery Unknown</span></span>
        <span id="checkExperiences" class="badge btn text-bg-primary float-end"
              onclick="gather_experiences(this)">{% include "icons/show-apps.html" %} Apps</span>
      </div>
    </div>
  </div>
</template>

