<template id="device-card">
    <div id="main-card" class="col justify-content-center">

        <div class="card mb-2" style="max-width: 18rem; min-width: 16.25rem;">
            <div>
                <input class="form-check-input position-absolute ms-1" type="checkbox" id="cardSelect">

                <img src="https://picsum.photos/200" class="card-img-top">
            </div>
            <div class="card-body">
                <h5 id="device-name" class="card-text">Device ID unknown </h5>
                <span id="batteryBadge" class="badge text-bg-primary">{% include "icons/battery-full.html" %} <span id="batteryPercent">Battery Unknown</span></span>
                <span class="badge btn text-bg-danger float-end ms-2" id="stop_some_experience" onclick="stop_some_experience(this)">{% include 'icons/stop-fill.html' %} Stop</span>
                <span id="checkExperiences" class="badge btn text-bg-primary float-end" onclick="gather_experiences(this)">{% include "icons/show-apps.html" %} Apps</span>
            </div>
        </div>
    </div>
</template>