<template id="device-card">
  <div id="main-card">

    <div class="card mb-2" style="max-width: 18rem; min-width: 16.25rem;">
      <div>
        <input class="form-check-input position-absolute ms-1" type="checkbox" id="cardSelect">
        <div class="position-absolute translate-middle top-50 start-50 text-danger fw-bold text-wrap bg-white p-0
        rounded border border-danger border-5" style='max-height: 150px; width:90%; overflow: scroll;' id="message"></div>
        <btn class="btn btn-secondary btn-sm position-absolute translate-middle start-50" onclick="devices_manager.wifi_connect(this)" id="wifi-connect">wifi connect</btn>
        <img src="/static/images/placeholder.jpg" id="device-image" class="card-img-top">
        <btn hidden class="btn btn-light btn-small position-absolute m-1 end-0 text-info" id="refresh-screen" onclick="devices_manager.refresh_image(this)">
          <img src="/static/icons_set/image.svg" alt="refresh screen" class="img-fluid" width="16" height="16">
        </btn>
      </div>
      <div class="card-body">
        <btn class="mb-2 btn text-start" style="width:100%;" id="setIcon" onclick="set_icon(this)">
          {% include "icons/paintbrush.html" %}
          <span id="device-name" class="card-text d-inline-block ms-2 float-end">Device ID unknown</span>
        </btn>
        <span id="batteryBadge" class="badge text-bg-primary">{% include "icons/battery-full.html" %}
          <span id="batteryPercent">Battery Unknown</span></span>
        <span class="badge btn text-bg-danger float-end ms-2" id="stop_some_experience" onclick="stop_some_experience(this)">
          {% include 'icons/stop-fill.html' %} Stop</span>
        <span id="checkExperiences" class="badge btn text-bg-primary float-end" onclick="gather_experiences(this)">{% include "icons/show-apps.html" %} Apps</span>
      </div>
    </div>
  </div>
</template>