<div id="navContainer">
    <div id="navbar" class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand " style="font-family: monospace" href="#">{% include "icons/headset-vr.html" %}
                simu-launch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse d-md-none" style="flex-basis: 100%;flex-grow: 1;align-items: center;" id="navbarToggler">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="monitor">Go to device monitor</a>
                    </li>
                </ul>

            </div>
            <div class="d-flex d-none d-md-flex">
                <a id="monitorButton" class="btn btn-primary d-flex align-items-center justify-content-center ms-2" href="monitor">Go to device monitor</a>
            </div>
        </div>
    </div>
</div>